@media screen and (max-width: 800px)
{
    .header-logo{
        width: 250px;
    }

    .header-logo img{
        margin: 5px 0 0 15px;
        padding: 0;
        width: 55%;
    }

    .topnav{
        margin: unset;
        margin: 25px 25px 0 25px;
    
    }
    .topnav a {
        display: none;
    }

    #icon-navbar {
        width: unset;
        float: right;
        display: block;
        /* margin-top: 8px; */
        color: #FF001B;
        }

    .topnav .icon{
        position: absolute;
        top: 25px;
        right: 25px;
    }

    #icon-navbar:hover{
        background-color: transparent; 
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        top: 0;
        right: 0;
    }

    .topnav.responsive a {
        /* float: none; */
        display: block;
        /* text-align: center; */
        }

        /* .topnav a {
            display: block;
            width: 100%;
            margin: auto;
          } */


    .topnav.responsive.main-navbar{
        margin-top: unset;
        position: absolute;
        z-index: 9999;
    }

    main {
        margin: unset;
        margin: 0 30px 0 30px;
        font-size: unset;
        font-weight: unset;
    }

    .hero-section {
        display: block;
        box-shadow: unset;
        margin: unset;
    }
    
    .hero-content {
    background: #fff;
    color: #000;
    padding: unset;
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
    }

    .hero-content::after {
    content: unset;
    }

    
    .hero-headline{
        margin: unset;
        font-size: 48px;
        font-weight: 600;
        white-space: normal;
        text-align: left;
        width: 100%;
    }

    .hero-content .btn-signup {
    display: none;
    }

    .hero-text {
    width: unset;
    font-size: 13px;
    margin: unset;
    margin-top: 20px;
    }

    .hero-img img {
    border-radius: 10px;
    margin-top: 20px;
    }

    .hero-section > .btn-signup {
    display: block;
    margin: 30px auto 10px;
    padding: 6.5px 35px;
    font-size: 14px;
    }

    .copyrights {
    margin-top: 20px;
    text-align: center;
    font-size: 10px;
    }

    /* Ouverture de la modale  */

    .background{
        background-color: unset;
        margin-top: 70px; 
    }

    .content{
        height: 100%;
        overflow:visible;
        min-height: 800px;
    }

    .modal-body{
        padding-top: 0;
    }

    .close{
        transform: scale(.55);
    }

    label{
        font-size: 14px;
        margin-bottom: 10px;
    }

    .text-label, .quantity{
        font-size: 14px;
        margin-top: 5px;
    }

    .text-control{
        font-size: 18px;
        margin-bottom: 5px;
    }

    #birthdate{
        margin-bottom: 10px;
    }

    .number{
        margin-top: 10px;
    }


    .quantity p{
        margin-top: 30px;
    }

    /* Checkboxes Villes */

    .location-data{
        margin-bottom: 15px;
    }

    .checkbox-label{
        font-family: 'Roboto';
        font-weight: 300;
        display: inline-flex;
        margin-bottom: 3px;
        margin-right: -10px;
    }

    .checkbox-label span {
        position: relative;
        right: 7px;
    }

    /* Conditions d'utilisation et newsletter */

    .checkbox2-label{
        display: block;
        margin-bottom: 12px;
        margin-top: 10px;
    }

    .checkbox2-label span{
        font-family: 'Roboto';
        font-weight: 100;
    }

    .btn-submit{
        width: 145px;
        height: 30px;
        padding: unset;
        font-size: 14px;
    }

    .error{
        font-size: 10px;
        margin-top: -3px;
    }

    #error-birthdate{
        margin-bottom: 10px;
        margin-top: -6px;
    }

    #container-confirmation{
        background-color: unset;
        margin-top: 40px;
    }
    
    #confirmation-popup{
        margin-top: 50px;
    }

    #confirmation-popup p {
        font-size: 36px;
    }

    #close-confirmation {
        top: 70%;
    }
}